<footer class="site-footer">
  <div class="container">
    <div class="footer-grid">
      <div class="footer-brand">
        <img class="footer-logo" src="assets/image/logo-white.svg" alt="Bridge Flair" />
        <address>
          3808 Sicily st Irving Texas 75038 USA<br>
          hr@BridgeFlairInfo.com<br>
          +1 (210) 791 8832
        </address>
        <a class="btn btn-primary footer-cta" href="#">Discover More <i class="fa-solid fa-arrow-right" aria-hidden="true"></i></a>
      </div>
      <div>
        <h3>Company</h3>
        <ul class="footer-list">
          <li><a href="about.html"><span class="footer-bullet"><i class="fa-solid fa-arrow-right"></i></span> About</a></li>
          <li><a href="#"><span class="footer-bullet"><i class="fa-solid fa-arrow-right"></i></span> Our Team</a></li>
          <li><a href="#"><span class="footer-bullet"><i class="fa-solid fa-arrow-right"></i></span> Pricing Plan</a></li>
          <li><a href="#"><span class="footer-bullet"><i class="fa-solid fa-arrow-right"></i></span> Latest Blog</a></li>
          <li><a href="career.html"><span class="footer-bullet"><i class="fa-solid fa-arrow-right"></i></span> Careers</a></li>
        </ul>
      </div>
      <div>
        <h3>Our Services</h3>
        <ul class="footer-list services-list">
          <li><a href="service-details.html"><span class="footer-bullet"><i class="fa-solid fa-arrow-right"></i></span> AI-Powered Solutions</a></li>
          <li><a href="service-details.html"><span class="footer-bullet"><i class="fa-solid fa-arrow-right"></i></span> Agile Transformation</a></li>
          <li><a href="service-details.html"><span class="footer-bullet"><i class="fa-solid fa-arrow-right"></i></span> AI &amp; Automation</a></li>
          <li><a href="service-details.html"><span class="footer-bullet"><i class="fa-solid fa-arrow-right"></i></span> Cloud &amp; Intelligence</a></li>
          <li><a href="service-details.html"><span class="footer-bullet"><i class="fa-solid fa-arrow-right"></i></span> Application Innovation</a></li>
          <li><a href="service-details.html"><span class="footer-bullet"><i class="fa-solid fa-arrow-right"></i></span> Intelligent IT Staffing</a></li>
          <li><a href="service-details.html"><span class="footer-bullet"><i class="fa-solid fa-arrow-right"></i></span> Business Modernization</a></li>
          <li><a href="service-details.html"><span class="footer-bullet"><i class="fa-solid fa-arrow-right"></i></span> Strategic Advisory</a></li>
        </ul>
      </div>
      <div>
        <h3>Newsletter</h3>
        <p>Subscribe our Latest Newsletter</p>
        <form class="footer-newsletter" action="#" method="post">
          <input class="footer-input" type="email" placeholder="Enter Your E-Mail" aria-label="Email">
          <button class="btn btn-primary footer-subscribe" type="submit">Subscribe</button>
        </form>
      </div>
    </div>
    <hr class="footer-sep">
    <div class="footer-bottom">
      <p>© 2025 Bridge Flair. All rights reserved</p>
      <ul class="footer-social">
        <li><a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a></li>
        <li><a href="#" aria-label="Pinterest"><i class="fab fa-pinterest-p"></i></a></li>
      </ul>
    </div>
  </div>
</footer>
